$violet: #646cff;
$dark-violet: #535bf2;
$light-violet: #abafed;

:root {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: $violet;
  text-decoration: none;
}
a:hover {
  color: $dark-violet;
}

li {
  list-style: none;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: $light-violet;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  &:focus-visible {
    outline: 2px solid $dark-violet;
  }
}
